@model TimelineViewModel
@using DNTPersianUtils.Core
<li class="event" data-date="@Model.DateRised" id="news-@Model.Id">
    <a href="#news-@Model.Id" class="event-anchor"><h3 class="fs-4">@Model.Title</h3></a>
    <div class="text-muted">
        @Model.RisedOn.ToFriendlyPersianDateTextify(appendHhMm: false)
    </div>
    @if (!Model.Approved)
    {
        <span class="btn btn-danger btn-sm rounded-pill px-4 my-4">
            تردید در درستی
        </span>
    }
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <div>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a asp-page="Edit"
                       asp-area="Timeline"
                       asp-route-itemId="@Model.UniqueId"
                       class="btn btn-primary">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a asp-page="Delete"
                       asp-area="Timeline"
                       asp-route-itemId="@Model.UniqueId"
                       class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>

            </div>
        }
    }
    <p class="fs-5">
        <div class="pb-3 event-body">@Model.Content</div>
        <h5>منابع</h5>
        @if (Model.Resources != null && Model.Resources.Any())
        {
            <ul class="my-list">
                @foreach (var r in Model.Resources)
                {
                    <li class="">
                        <a class="nav-link px-0" dir="ltr" href="@r" target="_blank">
                            @r
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </li>
                }
            </ul>
        }
    </p>
    <div class="d-flex justify-content-between pt-4">
        <div>
            <a asp-page="Index"
               asp-route-filter="date"
               asp-route-search="@Model.Year"
               class="nav-link px-0 text-secondary">@($"{Model.Year}.{Model.Month}")#</a>
        </div>
        <div>
            @foreach (var t in Model.Tagline)
            {
                <a class="btn btn-secondary btn-sm rounded-pill px-3"
                   asp-page="Index"
                   asp-route-filter="tag"
                   asp-route-search="@t">
                    <i class="bi bi-tag-fill"></i>
                    @t
                </a>
            }
        </div>
    </div>
</li>