@page "/users/timeline/index"
@model IndexPage
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "فهرست خبرها";
    var np = Model.TimelineList.HasNextPage ? "" : "disabled";
    var pp = Model.TimelineList.HasPreviousPage ? "" : "disabled";
}

<h1 class="mb-5">فهرست خبرها</h1>
<a asp-page="AddTimeline" class="btn btn-primary mb-4">ثبت جدید</a>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">فهرست خبرها</li>
    </ol>
</nav>
<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">عنوان</th>
            <th scope="col">تاریخ</th>
            <th scope="col">تایید</th>
            <th scope="col">انتشار</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.TimelineList)
        {
            <tr>
                <th scope="row">@t.Id</th>
                <td>@t.Title</td>
                <td>@t.RisedOn.ToPersianYearMonthDay(DateTimeOffsetPart.IranLocalDateTime)</td>
                <td>@t.Approved</td>
                <td>@t.Published</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @np">
            <a class="page-link"
               asp-page="Index"
               asp-route-pageIndex="@(Model.TimelineList.HasNextPage ? (Model.TimelineList.PageIndex + 1) : 1)"
               tabindex="-1">اخبار قدیمی</a>
        </li>
        <li class="page-item @pp">
            <a class="page-link"
               asp-page="Index"
               asp-route-pageIndex="@(Model.TimelineList.HasPreviousPage ? (Model.TimelineList.PageIndex - 1) : 1)">آخرین اخبار</a>
        </li>
    </ul>
</nav>